@charset "UTF-8";

*{
    font-family: sans-serif
}

body{
    background-image: linear-gradient(to right, #ADC5D9, #384D59);
}

main{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #59798d;
    width: 750px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #2A3E59;
    text-align: center;
    text-shadow: 1px 1px 0px #88bbfae3;
}

h2{
    color: #739dbe;
}

p{
    text-align: justify;
}